.foody {
    height: 800px;
}

.foody {
    background-image: url(./image/banner2.jpg);
    height: 490px;
    overflow: hidden;
    opacity: 0.9;
    text-align: center;
    position: relative;
}

.foody h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    text-align: center;

}

.foody__list {
    display: flex;
    justify-content: center;

}

.number {
    position: absolute;
    top: 420px;

}

.foody__item {
    padding: 15px 45px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 10px;
}

.foody__item a {
    text-decoration: none;
    color: #fff;
}

.left {
    border: 3px solid #fff;
    margin-right: 30px;
    transition: all 0.5s;
}

.left:hover {
    background: #fff;
    overflow: hidden;
}

.left:hover a {
    color: #ff6600;

}

.right {
    background-color: #ff6600;
    transition: all 0.5s;
}

.right:hover {
    opacity: 0.8;
}

.number__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.number__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 240px;
    height: 240px;
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    margin-left: 20px;
    margin-bottom: 50px;
    transform: translateY(0);
    transition: all 0.5s;
}

.number__item:hover {
    transform: translateY(-25px);
}

.number__item i {
    font-size: 28px;
    background-color: #ff6600;
    padding: 30px;
    border-radius: 50%;
    color: #fff;

}

.number__item span {
    font-size: 35px;
    font-weight: 600;
    padding-top: 15px;

}

.number__item p {
    font-size: 25px;
    color: grey;

}

.paper__list {
    display: flex;
    justify-content: space-around;
}

.video {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    overflow: hidden;
    cursor: pointer;
}

.video__item {
    width: 100%;
    height: 500px;
    background: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(./image/banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    z-index: 30;
}

.video__item .fas {
    color: #ff6600 !important;
    font-size: 50px;
    padding: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.video__item .fas-1 {
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.video__item .fas-2 {
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    animation: animated 1.5s linear infinite;
    opacity: 0;
    animation-delay: .4s;
}

@keyframes animate {
    0% {
        transform: scale(.3);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes animated {
    0% {
        transform: scale(.3);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
    }
}

.item_center {
    margin: 0 30px;
    background-color: #fff;
}

.paper__item {
    position: relative;
}

.item_img img {
    height: 210px;
    width: 370px;
    border-radius: 15px;
}

.actor__1 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}

.actor__1 {
    display: flex;
    justify-content: left;
}

.item__time {
    display: flex;
    justify-content: left;
    position: absolute;
    top: 160px;
    left: 10px;
}

.item__actor {
    display: flex;
    justify-content: space-between;

}

.item__time a {
    text-decoration: none;
    color: #fff;
    background-color: #ff6600;
    padding: 4px 15px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 15px;
    margin-right: 30px;
    align-items: center;
}

.item__time p {
    color: #fff;
    font-size: 20px;
    align-items: center;
}

.item_img h3 {
    color: #232121;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 30px;
}

.item_img p {
    color: rgba(22, 28, 45, 0.7);
    font-size: 20px;
    line-height: 28px;
}

.actor__1 {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #232121;
    padding-right: 20px;
    letter-spacing: .02em;
}

.actor__2 {
    font-weight: 600;
    font-size: 20px;
    color: #232121;
    letter-spacing: .02em;
    cursor: pointer;
}

.actor__2:hover {
    font-weight: 600;
    font-size: 20px;
    color: #ff6600;
    letter-spacing: .02em;
    cursor: pointer;
}

.paper__header {
    margin-bottom: 30px;
}

.papertest__header h3 {
    font-size: 40px;
    color: #232121;
    font-weight: 600;
    text-align: center;
    display: block;
}

.papertest__header h6 {
    font-size: 25px;
    color: #ff6600;
    text-align: center;
    font-family: 'Pacifico', cursive;
    line-height: 30px;
}

.testimonials {
    margin-top: 50px;
}

.testimonials__item {
    text-align: center;

}

.testimonials__item img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.testimonials__item span {
    font-size: 40px;
    color: #ff6600;
    display: block;
}

.testimonials__item h3 {
    font-style: italic;
    color: #232121;
    font-weight: 600;
    font-size: 30px;
}

.testimonials__item p {
    color: rgba(22, 28, 45, 0.7);
    ;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.testimonials__item h4 {
    color: #232121;
    font-weight: 600;

}
.footer{
    background-color:#000000;
}
.footer__list {
    display: flex;
    justify-content: space-around;

}
.footer__list a{
    text-decoration: none;
    color: none;
   
}
.footer__list h3{
    font-size:30px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    line-height: 26px;
}
.footer__h3_a{
    color: #fff;
}

.footer__item p{
    color: #a5a2a1;
}
.item__a{
    color: #a5a2a1;
}
.footer_name{
    color:#fff;
}
.footer_name:hover{
    color: #ff6600;
}
.item__a:hover{
    color: #ff6600;
}
.btn{
    width: 202px;
    background-color: #ff6600;
}
.btn:hover{
    opacity: 0.8;
    background-color: #ff6600;
}
.item_icon i{
    color: #ff6600;
    padding:10px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}
.item_icon i:hover{
    color: #fff;
    padding:10px;
    background-color: #ff6600;
    border-radius: 10px;
    margin-top: 20px;
}
.footer__final{
    display: flex;
    justify-content:space-around;
    font-size: 20px;
}   
.footer__final_left p{
    color: #fff;
}
.footer__final_left_a{
    color: #ff6600;
    text-decoration: none;
}
.footer__final_left_a:hover{
    color: #fff;
    text-decoration: none;
}
.footer__final_right a{
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
}
.footer__final_right a:hover{
    color: #ff6600;
    text-decoration: none;
    padding-right: 10px;
}